<section class="colors styleguide-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12">
       <h2 class="section-head">Colors</h2>
		<% styleguide_block  'ms_colors' do %>
		  <div class="$modifier_class">...</div>
		<% end %> 
      </div>
    </div>
  </div>
</section>