<section class="logo styleguide-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12">
       <h2 class="section-head">Logo</h2>
		<% styleguide_block  'ms_logo' do %>
		  <div class="ms-logo">Mac<span class="ms-logo-sitters">Sitters</span></div>
		<% end %> 
      </div>
    </div>
  </div>
</section>